fastapi
uvicorn
streamlit

requests

python-dotenv

pydantic

langchain
langchain-community
langchain-text-splitters
langchain-google-genai

sentence-transformers
transformers
torch

chromadb

pypdf

google-generativeai

tavily-python

rank-bm25

numpy

python-multipart